@model Prueba.Models.Tratamiento

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tratamiento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Identificador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Identificador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstruccionesDosificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstruccionesDosificacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FrecuenciaAdministracion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FrecuenciaAdministracion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EfectosSecundarios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EfectosSecundarios)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HistorialMedico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HistorialMedico.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
